<a href="https://colab.research.google.com/github/shubhamrai1318/Global_Terrorism/blob/main/Global_Terrorism_Dataset_EDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -  Global Terrorism Dataset

##### **Project Type**    - EDA
##### **Contribution**    - Individual
##### **Name**            - Shubham Rai

# **Project Summary -**

**The scope of this project is to drill down the terrorist events around the world from 1970 through 2017.** 

In this project I am going to perform Exploratory Data Analysis on terrorism dataset to find out the hot zone of terrorism.

I will use Global Terrorism Database which is an open-source database including information on terrorist events around the world and this data is in the from of csv format.This database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland defines terrorist attack as a threatened or actual use of illegal force and violence by a non-state actor to attain a political, economic, religious or social goal through fear, coercion or intimidation.

Overall, the project provides a detailed analysis of the Global Terrorism Dataset and sheds light on the nature and patterns of terrorism worldwide. The insights gained from this analysis can be used to inform policy decisions and improve counter-terrorism efforts.

 
  **What is Global Terrorism Database**

*   The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017.
  
*   The Global Terrorism Database includes systematic data on domestic as well as transnational and international terrrorist  incidents that have occured during theis time period and now indludes more than 200,000 cases.

*   The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.

**How to access that csv file**


1.   Download csv file and upload to the drive
2.   mount the drive in the google colab.
3.   Read the csv file from the drive.


In this EDA Project we will cover,


*   **how to perform Exploratory data analysis by taking a dataset.**
*  **In this project, we have taken the Terrorism data set and we found how hot zones in the country.**
*   **We also conclude visualizations.**





  For each Terrorism incident, information is availabel on the date and location of the incident, the weapons used and nature of the target, the number of casualties.

In short we can say that today, we live in the world where terrorism is becoming a primary concern because of the growing number of terrorist incidents involving civilian fatalities and infrastructure damages. The ideology and intentions behind such attacks is indeed a matter of worry. Living under the constant threat of terrorist attacks in any place is no better than living in a jungle and worrying about which animal will attack you and when. An increase in a number of radicalized attacks around the world is a clear indication that terrorism transitioning to from a place to an idea, however, the existence of specific terror group and their attack characteristics over the period of time can be vital to fight terrorism and to engage peacekeeping missions effectively. Having said that number terrorist incidents are growing these days, availability of open-source data containing information of such incidents, recent developments in machine learning algorithms and technical infrastructure to handle a large amount of data open ups variety of ways to turn information into actionable intelligence.

# **GitHub Link -**

https://github.com/shubhamrai1318/Global_Terrorism.git

# **Problem Statement**



*   Identify and highlight the geographical and temporal patterns of the terrorism.

*   Study the source and do some quick research to understand more about the dataset and its topics.

*   Analyse the concept and underpinning legal principles of international
crimes of terrorism, whether at the national or international level.

*   Perform data pre-processing to manipulate the data for analysis and draft out targetted tabels for analysis

*   Clean the data.

*   Prepare the data for processing and analysis.

*   Perform data pre-processing to manipulate the data for analysis and draft out targetted tabels for analysis.

*   Analyze the data more deeply and extract insights.

*   Visualize the data using matplotlib and seaborn.

#### **Define Your Business Objective?**

**Measures to be Taken to Reduce Terrorism**

*   By reducing access to dangerous weapons
*   Government should provide more security over countries
*   Security should be strengthened across borders
*   Government should take measures on increased immigration

**1.** **What were the primary methods of attack used in the majority of attacks?**

**2. During which years were there more attacks compared to the period from 1970 onwards? Was there a decrease in the number of attacks from 2014 onwards?**

**3. Did every day have an almost equal number of attacks or were there any variations? Which days had relatively low or high numbers of attacks?**

**4. Which country has the highest number of attacks? Which countries come after it in terms of the number of attacks?**

**5. Which region has the highest number of attacks, and which region comes second in terms of the number of attacks?**

**6. What were the most common types of targets in the majority of the attacks? Which type of target follows the most common type?**

**7. What were the primary methods of attack used in the majority of the incidents?**




![image.png]()

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries

import numpy as np                  #importing numpy library and keeping the alias as np
import pandas as pd                 #importing pandas library and keeping the alias name as pd
import matplotlib.pyplot as plt     #importing matplotlib.pyplot library and keeping the alias name as plt for visualization
%matplotlib inline
import seaborn as sns               #importing seaborn library and keeping the alias as sns
import missingno as msno            #importing missingno library and keeping the alias as msno for calculating null values
import plotly.graph_objects as go   #importing plotly.graph_objects library and keeping the alias as go

### Dataset Loading

In [ ]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')     #mounting drive

In [ ]:

file_path ='/content/drive/MyDrive/Data/Global_Terrorism_Data.csv'    #setting up the path of the file and storing the path in file_path variable
df = pd.read_csv(file_path,encoding="ISO-8859-1")                     #reading that csv file

### Dataset First View

In [ ]:
# Dataset First Look
df.head()       #head method displays the first 5 rows

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count

print("Total Number of rows:\t",df.shape[0])     #shape[0] defines the total rows of the dataset
print("Total Number of columns:",df.shape[1])    #shape[1] defines the total columns of the dataset

### Dataset Information

In [ ]:
# Dataset Info

df.info(verbose=True,show_counts=True)   #info method shows the columns , the not null values in that specific columns and the DataTypes

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count

null_sum=(df.isnull().sum()/len(df))*100
null_sum
df.duplicated(keep=False).sum()

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count

#mis_val holds the total number of missing values
mis_val = df.isnull().sum()   

#here converts that missing values into percentage
mis_val_percent = 100 * mis_val / len(df)     

#concating missing values and percentage
mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)   

#renaming the column name as missing values and % of Total values and sorting in descending order
mis_val_table_ren_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values'})   
mis_val_table_ren_columns = mis_val_table_ren_columns[mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)


#printing the total columns and the columns with missing values.
print ("There are total " + str(df.shape[1]) + " columns.\nThere are " + str(mis_val_table_ren_columns.shape[0]) +" columns that have missing values.")

In [ ]:
# Visualizing the missing values

msno.bar(df) #it shows the graph of each column with available value

### What did you know about your dataset?

The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. 

The shape of this dataset is (181691,135), means it have 181691 rows and total 135 columns.

In this dataset we have 106 columns which have null values which 77 columns have more than 50% missing/null values and 58 columns have less than 50% null/missing values.

We have 94 columns which have more than 95% missing values.

In short we can say that, the GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks.

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns

df.columns  # it displays all the columns which which exists.

In [ ]:
# Dataset Describe
df.describe()   # view the statistical description of the dataset.

### Variables Description

**eventid --**      In eventid we have 181691 rows and also 181691 unique values

**iyear --**        In iyear we have 181691 rows and 47 unique values
        
**imonth --**        In imonth we have 181691 rows and 13 unique values

**iday --**          In iday we have 181691 rows and 32 unique values

**extended --**                2

**country_txt --**   In country_txt we have total 181691 rows and 205 different countries.

**region_txt --**  In region_txt we have 181691 rows and 12 different regions.

**city --**        In city we have 181257 rows and 36674 unique values   

**latitude --**     In latitude we have 177135 rows and 48322 unique values       

**longitude --**    In longitude we have 177135 rows and 48039 unique values

and some other usefule variables are:-
**attacktype1_txt,targtype1_txt,suicide,group,weapon_type** and so on....

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
unique_values = df.nunique()
print(unique_values[:50])  #prints all the columns with the count of unique values in that specified column

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
#filter the dataset with less null/missing values

# Calculate the percentage of missing values in each column of the df dataframe
null_sum=(df.isnull().sum()/len(df))*100

# Sorts the percentage of missing values in descending order
percent_null=null_sum.sort_values(ascending=False)


# Filters out columns with missing values greater than or equal to 50%.
high_null_column=percent_null[percent_null>=50] 

# Filters out columns with missing values less than 50% and print the result
less_than_50_null_column=percent_null[~percent_null.isin(high_null_column)]
print(f'Number of column where null value less than fifty percent = {len(less_than_50_null_column)}')

# Stores the column names with less than 50% missing values in a list
less_null_column=less_than_50_null_column.index.to_list()
print(less_null_column)

# Creates a new dataframe new_df with only the columns that have less than 50% missing values
new_df=df[less_null_column]

In [ ]:
# Calculate the list of all column names in the new DataFrame
check=new_df.columns.to_list()

# Define the list of selected columns to keep and print that columns which we have to keep
selected_columns_1=['eventid','iyear','imonth','iday','country_txt','region_txt','city','multiple','success','suicide','attacktype1_txt', 'targtype1_txt','targsubtype1_txt','corp1','target1',
 'natlty1_txt', 'weaptype1_txt','nkill','nwoundus', 'claimed', 'individual', 'INT_LOG', 'doubtterr', 'INT_MISC', 'specificity','gname', 'ishostkid', 'INT_ANY', 'guncertain1', 'provstate']

print("We have to use only",len(selected_columns_1), "columns in our data frame.")

# Calculate the number of unused columns
len(check)-len(selected_columns_1)

# Create a new DataFrame with only the selected columns
final_df=df[selected_columns_1]
final_df  # Check if its updated.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# Chart - 1 visualization code
# Number of Terrorist attack vs Year

# Calculate the number of terrorist attacks per year and store them in a pandas Series object
attack_per_year=final_df['iyear'].value_counts() 

# sets the figure size of the plot to 20 inches (width) and 6 inches (height).
fig=plt.rcParams['figure.figsize'] = 20,6

# Create a seaborn countplot of the number of terrorist attacks per year
fig=sns.countplot(x='iyear',data=df,palette=['#432371',"#FAAE7B"]) 

# Rotate the x title to 45 degree
plt.xticks(rotation = 45)

# Set the x-axis,y-axis label and title
fig.set_ylabel('Count of Terrorist Attack',fontsize=20,color='blue')
fig.set_xlabel('Years',fontsize=20,color='blue')
fig.set_title('Terrorist Attack Per Year',fontsize=22)

##### 1. Why did you pick the specific chart?

Because this chart is a good choice for visualizing the number of terrorist attacks per year because it shows the distribution of the data by displaying the frequency of each unique value (year) on the x-axis, and the count of terrorist attacks for each year on the y-axis.

We can also observe that there were relatively few terrorist attacks in the 1970s and 1980s, followed by an increase in the 1990s and early 2000s, before the sharp increase in the mid-2000s.

##### 2. What is/are the insight(s) found from the chart?

Based on the plot, we can see that the number of terrorist attacks has increased over time, with a sharp increase starting from the mid-2000s, peaking in the years 2014 and 2015, and then slightly decreasing in the following years.

#### Chart - 2

In [ ]:
# Chart - 2 visualization code     Number of Terrorist activities vs Country

# Set the figure size of the plot to 20 inches (width) and 5 inches (height)
fig=plt.rcParams['figure.figsize'] = 20,5

# Create a seaborn countplot of the number of terrorist attacks per country, with the top 30 countries by number of attacks
fig=sns.countplot(x='country_txt',data=final_df,order = final_df['country_txt'].value_counts().index[:30],palette=['#432371',"#FAAE7B"])

# Rotate the x-axis labels by 75 degrees to avoid overlapping
plt.xticks(rotation = 75)

# Set the x-axis,y-axis label and title
fig.set_xlabel('Countries',fontsize=20,color='blue')
fig.set_ylabel('Count of Terrorist Attack',fontsize=20,color='blue')
fig.set_title('Top 30 Countries via Numbers of Attacks',fontsize=22)

##### 1. Why did you pick the specific chart?

I picked this specific chart because it provides a clear visualization of the distribution of terrorist attacks across countries. By showing the top 30 countries with the highest number of terrorist attacks, the chart provides a way to quickly identify the countries that are most affected by terrorism. This information can be useful for policymakers and organizations working on counterterrorism efforts, as it can help them prioritize their efforts and resources where they are most needed. Additionally, the chart allows for easy comparison between countries, making it easy to see which countries have a higher or lower number of attacks than others.

##### 2. What is/are the insight(s) found from the chart?

The chart shows the top 30 countries with the highest number of terrorist attacks, with Iraq having the highest number of attacks followed by Afghanistan, Pakistan, India, and Colombia. This highlights the fact that these countries are most affected by terrorism and may require more attention and resources for addressing the issue.

#### Chart - 3

In [ ]:
# Chart - 3 visualization code
# Who are the main targets?

# Select the 'targtype1_txt' column from the final_df dataframe, and exclude any rows where the 'targtype1_txt' value is null.
yy = final_df[~final_df['targtype1_txt'].isna()]['targtype1_txt']

# Create a figure with a width of 20 inches and a height of 5 inches.
plt.figure(figsize=(20,5))

# Rotate the x-axis labels 75 degrees.
plt.xticks(rotation = 75)

# Plot a histogram with the target type values on the x-axis and the frequency of attacks on the y-axis. Set the color of the bars to blue.
plt.hist(yy.values,color='blue')

##### 1. Why did you pick the specific chart?

I chose a histogram because it is a useful way to visualize the distribution of a single variable, in this case, the distribution of terrorist attacks across different target types. It provides an overview of the frequency of terrorist attacks for each target type, allowing us to identify which types of targets are most frequently attacked by terrorists. The horizontal axis shows the different target types, while the vertical axis shows the frequency of attacks. Additionally, the use of a histogram allows us to see any patterns or trends in the distribution of attacks across the different target types.

##### 2. What is/are the insight(s) found from the chart?

The insights found from this chart is that how different targets are varries from others.

In other words we can say that histogram shows the distribution of terrorist attacks across different target types. We can see that the most frequently attacked target types are private citizens and property, military, police, and government (general), which is consistent with the findings from the previous charts. We can also see that the distribution is highly skewed, with a long tail of less frequently attacked target types. This suggests that a small number of target types account for the majority of terrorist attacks, while the rest of the target types are attacked much less frequently. Overall, this chart confirms the importance of considering the target type in analyzing terrorist attacks, as certain target types are much more likely to be targeted than others.

#### Chart - 4

In [ ]:
# Chart - 4 visualization code
# Most Frequent Used Weapon in Attacks

# sets the size of the figure to be displayed
plt.figure(figsize=(7,7))

# create arrays containing the labels and values, respectively, for the different weapon types
mylabels = final_df['weaptype1_txt'].value_counts().index[:6]
myvalues = final_df['weaptype1_txt'].value_counts().values[:6]

# create a pie chart
plt.pie(myvalues, labels=mylabels, autopct='%1.1f%%')
plt.show()

##### 1. Why did you pick the specific chart?

The main purpose for picking this chart is because the pie chart is a good way to show the distribution of weapon types used in terrorist attacks. It provides a quick and easy-to-understand overview of the data and allows for easy comparison of the different weapon types. The chart also uses colors to differentiate between the different categories, making it visually appealing and easy to read.

##### 2. What is/are the insight(s) found from the chart?

This insight shows the percentage distribution of weapon types used in terrorist attacks based on the dataset. The top 6 weapon types are shown and account for over 85% of all weapon types used in the attacks. The insights that can be gained from this chart include:

Explosives are the most commonly used weapon type in terrorist attacks, accounting for over 50% of all weapon types used.

Firearms are the second most commonly used weapon type, accounting for almost 30% of all weapon types used.

Melee and chemical weapons are used much less frequently, accounting for only 2.5% and 2.2% respectively of all weapon types used.

#### Chart - 5

In [ ]:
# Chart - 5 visualization code
# Hot zones of terrorism (by City)

# Create a figure with a specified size (18,4) for the plot
plt.subplots(figsize=(18,4))

# Creates a barplot using Seaborn library, with the x-axis values as the index of the top 15 most affected cities in the dataset, y-axis values as the count of occurrences for each city
sns.barplot(x=final_df['city'].value_counts()[1:15].index,y=final_df['city'].value_counts()[1:15].values,palette='gnuplot2_r')

# Set teh title , xlabel and ylabel name of the plot
plt.title('Top Affected Cities',color='blue')
plt.xlabel('Cities Name',color='red')
plt.ylabel('Number of Occurance',color='red')

# Rotates the x-axis tick labels by 75 degrees to prevent overlapping
plt.xticks(rotation = 75)
plt.show()

##### 1. Why did you pick the specific chart?

This chart is picked to identify the cities which are highly affected and some top affected cities from terrorism are diplayed above from that specific chart.

##### 2. What is/are the insight(s) found from the chart?

From the above chart we found that  Baghdad is most affected city among all the cities which have 7000+ number of occurance and then Karachi is affected highly as we know from this chart we found the top affected cities from the terrorism.

#### Chart - 6

In [ ]:
# Chart - 6 visualization code
# Region via Numbers of Attacks

# Set the fig size of the plot
fig=plt.rcParams['figure.figsize'] = 20,4

# Create a countplot using the Seaborn library, The x parameter specifies the column to be plotted, which is 'region_txt'
fig=sns.countplot(x='region_txt',data=final_df,order = final_df['region_txt'].value_counts().index,palette='gnuplot2_r')

# Set the xlabel , ylabel, and title of the plot and rotate the x-axis tick label by 75 degree
fig.set_xlabel('Region',fontsize=18)
fig.set_ylabel('Count of Terrorist Attack',fontsize=18)
fig.set_title('Region via Numbers of Attacks',fontsize=20)
plt.xticks(rotation = 75)

##### 1. Why did you pick the specific chart?

This chart is picked to visualize the frequency distribution of categorical data. here, the countplot is used to show the frequency distribution of terrorist attacks in different regions of the world. It provides a clear and concise visualization of the number of terrorist attacks in each region, making it easy to compare and understand the data.

##### 2. What is/are the insight(s) found from the chart?

From the above chart we found the insight is that the Middle East and North Africa (MENA) has the highest number of terrorist attacks followed by South Asia, and South America. Additionally, we can observe that North America, Australasia, and Central Asia have a relatively lower number of terrorist attacks.

#### Chart - 7

In [ ]:
# Chart - 7 visualization code
# Activity of Top Terrorist Groups

# selects the rows of the DataFrame where the 'gname' column matches the top 10 most active terrorist groups.
top_groups10=final_df[df['gname'].isin(final_df['gname'].value_counts()[1:11].index)]

# creates a cross-tabulation table between the 'iyear' and 'gname' columns and then plots the table as a stacked line chart
pd.crosstab(top_groups10.iyear,top_groups10.gname).plot(color=sns.color_palette('magma',10))

#  retrieves the current figure instance and set the size of the figure
fig=plt.gcf()
fig.set_size_inches(18,6)

# display the plot
plt.show()

##### 1. Why did you pick the specific chart?

The chart is selected to visualize the trend of terrorist activities carried out by the top 10 terrorist groups over the years. The plot shows how the frequency of attacks carried out by each group has changed over time and whether there are any significant changes in their activities over the years.

##### 2. What is/are the insight(s) found from the chart?

From this chart we found the insight, the number of terrorist attacks by the top 10 terrorist groups over the years. From the chart, we can see that the Taliban is responsible for the highest number of attacks, followed by the Islamic State (ISIL). We can also see that there is a significant increase in the number of attacks by the Islamic State (ISIL) in 2014 and 2015, which then declines in 2016. Additionally, there is a clear decline in the number of attacks carried out by the other groups after 2010. Overall, the chart gives us an understanding of the changing dynamics of terrorist groups and their impact over the years.

#### Chart - 8

In [ ]:
# Chart - 8 visualization code
# Percentage of attacks in each country

# Set the size of the plot
plt.subplots(figsize=(10,8))

# Filter the dataframe for the year 2016 and get the top 10 countries with the most attacks
d = pd.DataFrame(final_df[final_df['iyear']==2016]['country_txt'].value_counts(sort=True)[:10])

# Reset the index of the dataframe
d.reset_index(inplace=True)

# Rename the columns of the dataframe
d.columns=['country','no_of_attacks']

# Calculate the number of attacks for the "Rest of the world" category
append = ['Rest of the world',sum(final_df[final_df['iyear']==2016]['country_txt'].value_counts(sort=True)) - sum(final_df[final_df['iyear']==2016]['country_txt'].value_counts(sort=True)[:10])]

# Add the "Rest of the world" category to the dataframe
d.loc[len(d)]= append

# Define the color set for the pie chart
color_set = ["#e82727","#ff8649","#ffc549","#fced20","#8fe222","#22e28e","#22e2db","#1f85c4","#361599","#d11fce","#00ff99","#fa97fc"]

# Set the title of the plot
plt.title("Percentage of attacks in each country")

# Create the pie chart
plt.pie(d['no_of_attacks'],labels=d['country'],colors= color_set,autopct='%.1f%%')
plt.show()

##### 1. Why did you pick the specific chart?

The main purpose of picking this chart is because it shows the proportion of attacks in each country in a visually appealing way, which makes it easier to compare the different countries. Additionally, the pie chart is appropriate in this case because we are looking at categorical data (countries) and their respective proportions.

##### 2. What is/are the insight(s) found from the chart?

From the chart, we can see the percentage distribution of terrorist attacks across the top 10 countries in the year 2016, along with a category for "Rest of the world." The chart shows that Iraq had the highest percentage of terrorist attacks in 2016 at 24.7%, followed by Afghanistan at 13.9% and Pakistan at 9.7%. The "Rest of the world" category accounts for 38.4% of the attacks in 2016. The pie chart provides a visual representation of the distribution of attacks, making it easy to compare the percentage of attacks in different countries.

#### Chart - 9

In [ ]:
# Chart - 9 visualization code
ax=plt.rcParams['figure.figsize'] = 20,4

# a countplot to visualize the frequency of different types of attacks in the final_df dataset with the help of seaborn library
ax=sns.countplot(x='attacktype1_txt',data=final_df,order = final_df['attacktype1_txt'].value_counts().index)

# set the x-axis label of the plot
ax.set_xlabel('Type of Attack',fontsize=18)
plt.xticks(rotation = 75)

# set the y-axis label of the plot
ax.set_ylabel('Count',fontsize=18)

# set the title of the plot
ax.set_title('Most Frequent Type of Attacks',fontsize=20);

##### 1. Why did you pick the specific chart?

The specific chart chosen in this case is a countplot, which is a type of bar plot provided by the Seaborn library. The countplot is suitable for visualizing the frequency or count of categorical data, specifically in this case, the frequency of different types of attacks.

##### 2. What is/are the insight(s) found from the chart?

From the countplot of the "Type of Attack" variable, the following insights can be derived:


**Most Frequent Type of Attacks:** The chart clearly shows the most frequent type(s) of attacks based on the height of the corresponding bars. By observing the chart, you can identify the attack type(s) with the highest count, indicating which type(s) occur most frequently in the dataset.

**Relative Frequency Comparison:** The countplot allows for a visual comparison of the frequencies of different attack types. By comparing the heights of the bars, you can determine the relative occurrence of each attack type and identify any significant differences in frequency among the categories.

**Dominant Attack Types:** If certain attack types have significantly taller bars compared to others, it indicates that those types are dominant or prevalent in the dataset. This insight can help in understanding the nature of attacks and focusing on the most important or common types for further analysis or preventive measures.

**Rare Attack Types**: On the other hand, if some attack types have very low or negligible counts, it suggests that those types are relatively rare or infrequent. This information can be valuable in assessing the overall distribution of attack types and identifying any specific types that occur with less frequency.

#### Chart - 10

In [ ]:
# Chart - 10 visualization code
ax=plt.rcParams['figure.figsize'] = 16,12

# create the countplot using the seaborn library.
ax=sns.countplot(y='gname',data=final_df,order = final_df['gname'].value_counts().index[1:50])

# set the x-axis label of the plot
ax.set_xlabel('Type of Targets',fontsize=18)

# set the y-axis label of the plot
ax.set_ylabel('Terrorist Organisation',fontsize=18)

# set the title of the plot
ax.set_title('Number of Attacks',fontsize=20);

##### 1. Why did you pick the specific chart?

As we know that the countplot is a suitable choice for exploring the distribution and frequency of categorical data, making it useful in analyzing the number of attacks by terrorist organizations in this case.

In the above chart a countplot is used to visualize the number of attacks attributed to different terrorist organizations ('gname'). The countplot is a suitable choice for this scenario because it effectively displays the frequency of each category (terrorist organization) in a bar chart format.

##### 2. What is/are the insight(s) found from the chart?

Based on the countplot(Above chart), it displays the number of attacks attributed to different terrorist organizations ('gname'), some insights that can be inferred are:

**Identification of Prominent Terrorist Organizations**

**Comparison of Activity Levels**

**Top Terrorist Organizations**

**Distribution of Attacks** 

**Presence of Outliers**

#### Chart - 11

In [ ]:
# Chart - 11 visualization code
plt.subplots(figsize=(20,10))
# Group the dataframe by year, target type, target, success, weapon type, and group name, and count the number of attacks for each group
attack_per_year=final_df.groupby(['iyear','targtype1_txt','target1','success','weaptype1_txt','gname'])['iyear'].count().to_frame(name = 'Total_Attacks').reset_index()

# Create a line plot using Seaborn's lineplot function. Specify the x-axis as 'iyear' (year), the y-axis as 'Total_Attacks' 
fig = sns.lineplot(x="iyear", y="Total_Attacks", hue='success', errorbar=None ,data=attack_per_year)
fig.tick_params(rotation=45)

##### 1. Why did you pick the specific chart?

The specific chart chosen is a line plot (sns.lineplot()) with multiple lines representing the total number of attacks per year, categorized by the success of the attacks (success variable). The line plot is commonly used to show trends and changes over time, making it suitable for visualizing how the total number of attacks varies from year to year and how it differs based on the success.

Here are some reasons why I pick this specific chart:(why line plot might be appropriate?)

**Time-based data:** Line plots are effective in displaying changes over time, as the x-axis typically represents a continuous variable, such as years in this case.

**Trend analysis:** Line plots help visualize trends, patterns, and fluctuations in the data. They allow for easy identification of increasing or decreasing trends in the total number of attacks over the years.

**Comparison between groups:** By using different colors or line styles (as indicated by the hue parameter), line plots can compare and distinguish multiple groups or categories, such as the success of the attacks in this example.

##### 2. What is/are the insight(s) found from the chart?

I can provide some general insights that can be derived from a line plot of the total number of attacks per year, categorized by the success of the attacks:

Trend of total attacks

Seasonal or periodic patterns

Comparison of success rates

#### Chart - 12

In [ ]:
# Chart - 12 visualization code

# creates a line plot to visualize the number of deaths in the Middle East and North Africa region over the years
plt.subplots(figsize=(20,10))
d = final_df[final_df['region_txt']=='Middle East & North Africa']

# group the filtered data by the 'iyear' column (year) and calculate the sum of the 'nkill' column (number of deaths) for each year
d3 = pd.DataFrame(d.groupby(['iyear'])['nkill'].sum())    
d3.reset_index(inplace=True)     # stored in a new DataFrame called d3

# adds a new column called 'dummy' to the d3
d3['dummy']=0

# create the line plot using Seaborn's lineplot function. 
l = sns.lineplot(x="iyear",y="nkill",data=d3)

# setting up the title
l.set_title("Deaths in Middle East and North Africa")

# naming the x & y label and display the plot
l.set_xlabel("Year")
l.set_ylabel("Number of deaths")
plt.show(l)

##### 1. Why did you pick the specific chart?

I picked this chart because it effectively visualizes the trend of deaths in the Middle East and North Africa region over the years. The line plot provides a clear representation of the data and allows for easy identification of patterns or changes in the number of deaths over time. The size of the figure also makes it easy to read the labels and interpret the information presented.

##### 2. What is/are the insight(s) found from the chart?

The line plot shows the trend in the number of deaths due to terrorist attacks in the Middle East and North Africa region from 1970 to 2017. It can be observed that there was a significant increase in the number of deaths from the late 1980s to the mid-2000s, after which there has been a decline in the number of deaths. The peak number of deaths was observed in the year 2014. The line plot provides a clear visual representation of the trend and enables us to identify patterns and changes in the number of deaths due to terrorist attacks over time.

#### Chart - 13 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code

# Create a new DataFrame with the selected columns
plt.subplots(figsize=(15,6))
new_dff = final_df[['iyear', 'region_txt','targtype1_txt','target1','success','weaptype1_txt','gname']]

# Calculate the correlation matrix
correlation_matrix = new_dff.corr()

# Generate the correlation heatmap
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')

# Set the plot title
plt.title('Correlation Heatmap')

# Display the correlation heatmap
plt.show()

##### 1. Why did you pick the specific chart?

The correlation heatmap is a suitable chart choice for analyzing the relationships and correlations between different variables in the global terrorism dataset for several reasons:

**Visualizing Correlations**

**Heatmap Color Encoding**

**Annotating Correlation Values**

**Compact and Comprehensive**

##### 2. What is/are the insight(s) found from the chart?

**Relationship between variables:** The correlation heatmap helps identify the strength and direction of relationships between different variables. Positive correlations (values closer to 1) indicate that as one variable increases, the other variable tends to increase as well. Negative correlations (values closer to -1) indicate an inverse relationship, where one variable increases while the other decreases.

**Impactful variables:** The heatmap can reveal which variables have a significant impact on others. High positive or negative correlations between variables suggest a strong association, indicating that changes in one variable may be linked to changes in another. These insights can help prioritize and focus on specific variables for further analysis or decision-making.

**Multicollinearity:** The correlation heatmap can highlight variables that exhibit high correlations with each other. This indicates multicollinearity, where two or more variables are highly interrelated. Identifying multicollinearity is important in statistical analysis as it can affect model performance and interpretation.

**Identifying potential relationships:** The heatmap may reveal unexpected correlations between variables that were not initially considered. These correlations can suggest potential relationships or dependencies that warrant further investigation and analysis.

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ? 
Explain Briefly.

To achieve the business objective with the global terrorism dataset, I suggest the following:

1.Analyze the dataset: Perform comprehensive analysis of the global terrorism dataset to uncover patterns, trends, and correlations in terrorist incidents worldwide.

2.Visualize insights: Use data visualization techniques to present the findings in a clear and meaningful way, enabling stakeholders to understand the global terrorism landscape at a glance.

3.Predictive modeling: Build predictive models to forecast and identify potential future terrorism incidents, enabling proactive risk assessment and mitigation strategies.

4.Sentiment analysis: Conduct sentiment analysis on textual data associated with terrorism incidents to understand public perception and potentially identify emerging trends or threats.

5.Network analysis: Apply network analysis techniques to identify connections and relationships among terrorist organizations or individuals, aiding in understanding organizational dynamics and potential disruption strategies.

6.Geospatial analysis: Utilize geospatial analysis to examine the spatial distribution of terrorism incidents, identify high-risk regions, and assess the impact of counter-terrorism measures.

7.Collaborative data sharing: Encourage collaboration and data sharing among relevant stakeholders to enhance collective understanding and improve counter-terrorism efforts.

8.Real-time monitoring: Develop a real-time monitoring system that can analyze incoming data streams to detect and respond to emerging threats in near real-time.

These suggestions aim to utilize the global terrorism dataset effectively to gain insights, make informed decisions, and enhance counter-terrorism efforts.

# **Conclusion**


To conclude, we have seen various types of analysis and question and answers with the data set I found interesting. Here is something I feel worth to share. We just look at data set all we can say is that we just know what are the columns and what it contains.So Exploratory Data Analysis is a very efficient way to make our work easy. With python libraries like pandas, numpy, matplotlib, seaborn,plotly allow us to come to conclusions calculating and vizualization.

From the above analysis we conclude that



*   Iraq country has highest number of attacks (24636) and then Pakistan, Afghanistan, and India follow it.
*   Middle and East Africa region has highest number of attacks (50474)
*   Explosives are the most weapon used by terrorsits (92426).
*   From the analysis we can see that on 2014 the number of terrorist activities were the highest in Iraq Country (16806)
*   Private citizens and Property were the main targets in terrorism activity (43510)
*   Bombing and Explosion methods were most commonly used in terrorism activity (82255).
*   Taliban is most Notorious group with highest number of terrorist activitiies (7478)
*   Attacks were more during 2014 and then in 2015. When compared to attacks from 1970 onwards, the last 6 years scored a maximum. But from 2014 onwards count started decreasing.




Strong security should be given for the countries Iraq,Pakistan,Afghanistan and India and also for middle East Regions and cities like Bhagdad,Karachi lima and many others.

Safety measures have to take regarding explosive devices as bombing explosions are the most weapons used by terrorsits

Strong security should be given to Private citizens and Property ,Military,Police etc as they are main target in terrorism

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***